#sidebar {
    position: fixed;
    left: -220px;
    top: 0;
    width: 220px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease;
    padding-top: 48px;
    z-index: 1000;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

#toggle-btn {
    position: fixed;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1100;
    transition: left 0.3s ease;
    border-top-right-radius: 20px;
    overflow-y: auto;
}

#sidebar.show {
    left: 0;
}

#toggle-btn.move {
    left: 220px;
}


.last {
    border-bottom: none;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/hero.jpg');

    min-height: 100vh;
    width: 100%;
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 28px);
}

.step-2 {
    .hero-text {
        h1 {
            margin-bottom: 48px;
        }
    }
}


@media (max-width: 1600px) {
    .step-2 {
        .hero-text {
            margin-top: 24px;
        }

    }

}

.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 170px) !important;
    max-width: 650px;


    h1 {
        font-size: 50px;
        font-weight: 500;
        line-height: 70px;
        color: #fff;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 24px;

    }

    .para {
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 100px;
    }

    .button {
        margin-top: 44px;
        margin-bottom: 32px;
    }
}

pin-code {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;


}

.pin-code input {
    border: none;
    text-align: center;
    width: 62px;
    height: 62px;
    font-size: 36px;
    background-color: #FFFFFFCC;
    margin-right: 12px;
    outline: none;
    border-radius: 8px;
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Step 2 Css  */

.steps-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/hero-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero-text {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;

    .info-text {
        font-size: 20px;
        font-weight: 600;
    }
}

.login-detail-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 28px;

    .login-detail {
        font-size: 16px;
        font-weight: 500;
    }
}

.info-wrapper {
    display: flex;
    align-items: center;

    gap: 100px;
    width: 100%;

    .info {
        align-items: start;
    }
}

.info-time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: 18px;
    font-weight: 600;

    .info-time {
        font-size: 16px;
        font-weight: 500;
    }
}

.info-btns {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 100%;
    justify-content: center;

}

.map-card {
    min-height: 420px !important;
    margin-bottom: 32px;
    max-width: 800px !important;
    padding: 40px !important;

    .map-img img {
        margin-top: 12px;
        height: 400px;
        object-fit: cover;
    }
}

.map-btn {
    margin-bottom: 32px;
}



.guide-cards {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.guide-cards-wrapper {
    grid-template-columns: repeat(3, 1fr) !important;

    .guide-card {
        background-color: #FFFFFFE5 !important;
    }
}

.guide-card {
    padding: 0 !important;
    max-width: 300px !important;
    background-color: #fff !important;

    .guide-img-wrapper {
        position: relative;

        span {
            display: block;
            position: absolute;
            bottom: -28px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .card-img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }

    .card-content {
        padding: 24px;

        .card-heading {
            font-size: 20px;
            font-weight: 600;
            margin-top: 12px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 24px;
        }

        ul {
            list-style: disc;
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 32px;

            li {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    max-width: 700px;
    width: 100%;

    background-color: transparent;

    .large-card {
        grid-column: span 2;
        max-width: 100% !important;
    }
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 16px;
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    background-color: #FBF4E9 !important;


}

.contact-content-card {
    span {
        font-size: 14px;

    }

    h5 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 4px;
    }
}

.route-cards {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

.key-cards {
    align-items: normal;
}

.key-card {

    h2 {
        font-weight: 500;
        font-size: 36px;
    }

    h5 {
        margin-top: 12px !important;
        margin-bottom: 16px;
    }
}

.route-card {
    background-color: #FBF4E9 !important;
    max-width: 270px !important;
    min-height: auto !important;

    h5 {
        font-weight: 500;
        font-size: 22px;
        margin-top: 24px;
        margin-bottom: 12px;

    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: disc;
        padding-left: 28px;
        padding-bottom: 24px;
    }

}

.get-key-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.get-key-card {
    min-height: 220px !important;
    background-color: #FFFFFFCC !important;

    .thanks-text {
        color: #978667 !important;
        font-size: 28px !important;
        font-weight: 500 !important;
    }
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.tab-white {
    background-color: #E1E0DF !important;
    color: #7B7B7B !important;


    &:hover {
        background-color: #D0D0D0 !important;
    }
}

.img-wrapper {
    margin-top: 24px;
    position: relative;
    display: flex;
    margin-bottom: 16px;

    img {
        max-width: 1100px;
    }

    .parking-img-2 {
        position: absolute;
        transform: translateX(120%);
        transition: 0.5s ease;
    }

    .parking-img-1 {

        transition: 0.5s ease;
    }
}

.checkbox-cards {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 24px;
    padding: 56px !important;
    max-width: 360px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;

    h3 {

        font-size: 24px;
        font-weight: 500;
    }

    .checkbox {
        display: flex;
        align-items: center;
        gap: 18px;

        label {
            font-size: 17px;
            cursor: pointer;
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            cursor: pointer;
            accent-color: #978667;
        }
    }
}

.feedback-cards {
    max-width: 650px !important;
    padding: 52px !important;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    form {

        h4 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 6px;
            margin-top: 42px;
        }

        textarea {
            max-width: 95%;
            width: 100%;
            height: 128px;
            padding: 12px;
            border: 2px solid #787575;
            background-color: transparent;
            font-size: 16px;
            font-weight: 500;
            resize: none;
            outline: none;
        }

        .submit {
            display: flex;
            justify-content: center;
            width: 100%;


            .submit-btn {
                width: 100%;
                max-width: 180px;
                height: 52px;
                font-size: 16px;
                margin-top: 32px !important;
                font-weight: 500;
            }
        }
    }
}

.amenuties .get-key-cards {
    display: flex;
    align-items: normal;
    gap: 8px !important;

    .get-key-card {
        height: 290px;
        max-width: max-content;
        padding: 32px 24px;
        background-color: hsla(0, 0%, 100%, 0.9) !important;

        h5 {
            margin-top: 16px;
        }
    }
}



.swiper {
    width: 100%;
    height: 100%;
    max-width: 1024px;

}

.adventure-cards {
    .swiper-wrapper {
        padding: 0 32px !important;
    }



}

.adventure {

    .swiper-button-prev,
    .swiper-button-next {

        transform: translateY(200%) !important;

    }
}

.swiper-wrapper {
    padding: 0 670px;
}

.swiper-button-prev {
    color: white !important;
    background-color: #978667 !important;
    height: 56px !important;
    width: 56px !important;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(80%);
    top: 50%;
    margin-top: 0 !important;
    left: 100px !important;
}

.swiper-button-prev::after {
    font-size: 24px !important;
}

.swiper-button-next {
    color: white !important;
    background-color: #978667 !important;
    height: 56px !important;
    width: 56px !important;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(80%);
    top: 50%;
    margin-top: 0 !important;
    right: 80px !important;
}

.swiper-button-next::after {
    font-size: 24px !important;
}

.adventure-cards {
    height: 400px;

    .guide-card {
        img {
            height: 130px !important;
        }

        .card-content {
            padding: 16px;
        }

        .card-link {
            text-decoration: underline;

            font-weight: 500;
        }

        p {
            margin-top: 12px;
            font-size: 15px;
        }
    }

    .card-tags {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-left: 16px;
        padding-bottom: 24px;
        max-width: 300px;
        overflow-x: auto;
        padding-right: 12px;
        cursor: grab;

        .tag {
            padding: 4px 14px;
            background: #F4E0EA;
            font-size: 14px;
            white-space: nowrap;
            border-radius: 16px;
        }
    }
}

.card-hero-content {
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width:1024px) {

    .guide-cards {

        grid-template-columns: repeat(3, 1fr);

    }
}


@media (max-width:768px) {

    .guide-cards,
    .guide-cards-wrapper {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width:640px) {

    .guide-cards,
    .guide-cards-wrapper {

        grid-template-columns: 1fr;

    }

    .guide-card {
        max-width: 100% !important;

        .card-img {
            width: 100%;
            height: auto;
        }
    }
}