.main {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/hero.jpg');

    min-height: 100vh;
    width: 100%;
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 28px);
}

.step-2 { 
    .hero-text {
        h1 {
            margin-bottom:48px;
        }
    }
}


@media (max-width: 1600px) {
    .step-2 {
    .hero-text {
            margin-top: 24px;
    }

}

}
.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 170px) !important;
    max-width: 650px;


    h1 {
        font-size: 50px;
        font-weight: 500;
        line-height: 70px;
        color: #fff;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 24px;

    }
    .para {
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 100px;
    }
    .button {
        margin-top: 44px;
        margin-bottom: 32px;
    }
}

pin-code{ 
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content:center;
 
  
} 
 
.pin-code input { 
  border: none; 
  text-align: center; 
  width: 62px;
  height:62px;
  font-size: 36px; 
  background-color: #FFFFFFCC;
  margin-right:12px;
  outline: none;
  border-radius: 8px;
} 






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Step 2 Css  */

.steps-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/hero-2.jpg');
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero-text {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;

    .info-text {
        font-size: 20px;
        font-weight: 600;
    }
}
.login-detail-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
margin-bottom: 28px;
.login-detail {
    font-size: 16px;
    font-weight: 500;
}
}

.info-wrapper {
    display:flex; 
    align-items: center;
  
    gap: 100px;
    width: 100%;
    .info {
        align-items: start;
    }
}
.info-time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: 18px;
    font-weight: 600;
    .info-time {
        font-size: 16px;
        font-weight: 500;
    }
}

.info-btns {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 100%;
    justify-content: center;
   
}

.map-card {
    min-height: 420px !important;
    margin-bottom: 32px;
    max-width: 800px !important;
    padding: 40px !important;
    .map-img img {
        margin-top: 12px;
        height: 400px;
        object-fit: cover;
    }
}
.map-btn {
    margin-bottom: 32px;
}



.guide-cards {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}

.guide-cards-wrapper {
    grid-template-columns: repeat(3,1fr) !important;
    .guide-card {
        background-color: #FFFFFFE5 !important;
    }
}

.guide-card{
    padding: 0 !important;
    max-width: 300px !important;
    background-color: #fff !important;

    .img-wrapper {
        position: relative;
        span {
            display: block;
            position: absolute;
            bottom: -28px;
         width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        }
    }
    .card-img {
        height: 200px;
        width: 300px;
        object-fit: cover ;
    }
    .card-content {
        padding: 24px;
        
        .card-heading {
            font-size: 20px;
            font-weight: 600;
            margin-top: 12px;
            margin-bottom: 16px;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 24px;
        }
        ul {
            list-style: disc;
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 32px;

            li {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
    max-width: 700px;
    width: 100%;
   
    background-color: transparent;
    .large-card {
        grid-column: span 2;
        max-width: 100% !important;
    }
}

.contact-card { 
    display: flex;
    align-items: center;
    gap: 16px;
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    background-color: #FBF4E9!important;

    
}
.contact-content-card {
    span {
        font-size: 14px;
        
    }
    h5 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 4px;
    }
}

.route-cards {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 12px;
}
.key-cards {
        align-items: normal;
}
.key-card {

   h2 {
        font-weight: 500;
        font-size: 36px;
    }
     h5 {
        margin-top: 12px !important;
        margin-bottom: 16px;
     }
}
.route-card {
    background-color: #FBF4E9!important;
    max-width: 270px !important;
    min-height: auto !important;
 
 h5 {
        font-weight: 500;
        font-size: 22px;
        margin-top: 24px;
        margin-bottom: 12px;

    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: disc;
        padding-left: 28px;
        padding-bottom: 24px;
    }
   
}
.get-key-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  
}
.get-key-card {
    min-height: 220px !important;
    background-color: #FFFFFFCC !important;

    .thanks-text {
        color: #978667 !important;
        font-size: 28px !important; 
        font-weight: 500 !important;
    }
}
@media (max-width:1024px) {

    .guide-cards {
  
    grid-template-columns: repeat(3,1fr);
  
}
} 
@media (max-width:768px) {
    .guide-cards,.guide-cards-wrapper {
  
    grid-template-columns: repeat(2,1fr);
  
}
}

@media (max-width:640px) {
    .guide-cards,.guide-cards-wrapper {
  
    grid-template-columns: 1fr;
  
}
.guide-card {
    max-width: 100% !important;
    .card-img {
        width: 100%;
        height: auto;
    }
}
}