.button {
  height: 62px;
  max-width: 220px;
  min-width: 210px;
  background-color: #978667;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;

  &:hover {
    background-color: #8f7e5e;
  }
}

.outline {
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
}

.card {
  padding: 24px;
  background-color: #ffffffad;
  max-width: 400px;
  min-height: 230px;
  width: 100%;
}